*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


.man{

    height: 100px;
    width: 100%;
    background-color: white;
    position: relative;
}

.man img{
    width: 100px;
    height: 115px;
    position: absolute;
    left: 0;
    bottom: 1px;
    animation-name:man_run;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes man_run {
    from{left: 0}
    to{left: 100%}
}

.text_effect{
    color:red;
    text-shadow: 3px 4px 1px yellow;
    transition:transform 1s;
}

.text_effect:hover{
    transform: rotate(360deg);
}

/*.card img{*/
/*    height: 380px;*/
/*    width:100%;*/
/*}*/

