{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image" href="{% static 'img/logo.jpg' %}">
    <title>{% block title %}{% endblock title %}</title>


</head>
<body>
<div class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 20px">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo2.jpg' %}" alt="logo"
                                              style="border-radius:80px; height: 65px;" class="text_effect"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-uppercase">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photography">Photography</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cinema1">Wedding Cinema</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ContactUs">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-danger" href="/blogs">Blog</a>
                        <a class="dropdown-item fa fa-youtube text-danger" href="https://youtu.be/vl9hefKsTEA">YouTube</a>



                    </div>
                </li>

            </ul>

        </div>
    </nav>

</div>
<div class="pb-5"></div>
{% block content %}

{% endblock content %}
<div class="container-fluid">
    <div class="row">
        <div class="whatsapp mb-3 fixed-bottom col-md-6 pb-5">
            <button class="btn btn-sucess fa fa-phone bg-success text-white"style="border-radius: 20px; font-size: 18px">Call Us(7908346040)</button>
        </div>
    </div>

</div>


{#  footer start from here#}
<footer>
    <div class="container-fluid text-center text-light bg-dark" style="border-radius: 15px">
        <div class="container">
            <div class="row pb-5">
                <div class="col md-3">
                    <h2>Office Timing</h2>
                    <hr class="bg-white">
                    <h4><span class="glyphicon glyphicon-time"></span>9:00 AM-9:00 PM</h4>
                    <h6><span class="glyphicon glyphicon-time"></span>Sunday holiday</h6>

                </div>
                <div class="col md-3">
                    <h2>About Us</h2>
                    <hr class="bg-white">
                    <h6>
                        I am photographer as i run my own studio for for differents type of events, I mainly deal with the
                        wedding events for making films and albums.I have more 7 years experience in this fields and
                        also i was awarded for best photographer in a national level.
                    </h6>

                </div>
                <div class="col md-3">
                    <h2>Contact Info</h2>
                    <hr class="bg-white">
                    <h6>second mile sevoke road,</h6>
                    <h6>paresh nagar mimi market,</h6>
                    <h6>behind anandaloke hospital,siliguri</h6>
                    <h5>West Bengal</h5>
                </div>
                <div class="col-md-3">
                    <h2>Call Us</h2>
                    <h6>Phone:7908346040</h6>
                    <h6>WhatsApp:9832012597</h6>
                    <h6>Email:deepphotography729@gmail.com</h6>

                </div>


            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="https://www.facebook.com/Deep-photography-254300261932183/">
                        <li class="fa fa-facebook" style="font-size: 45px; color:burlywood"></li>
                    </a>

                </div>
                <div class="col-md-4">
                    <a href="https://youtu.be/vl9hefKsTEA">
                        <li class="fa fa-youtube" style="font-size: 45px; color:burlywood"></li>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.instagram.com/accounts/login/?hl=en">
                        <li class="fa fa-instagram" style="font-size: 45px; color:burlywood"></li>
                    </a>
                </div>
                <div class="col-md-4 pb-5">


                </div>

            </div>

        </div>

    </div>
</footer>

<section class="text-center my-3 pt-4 pb-3">
    <span><strong> All &copy;copyright by DeepPhotography</strong></span>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static 'js/js.js' %}"></script>
<script>{% block js %}{% endblock js %}</script>
</body>
</html>