{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br><br><br>
    <div>
    {% for msg in messages %}
        <div class="alert alert-success text-capitalize text-center font-weight-bold" role="alert">
           {{ msg }}
       </div>
    {% endfor %}
    </div>
    <div class="container-fluid my-5">
        <div class="container-fluid pb-5">
            <div class="man pb-1">
                 <img src="{% static 'img/man2.gif' %}" alt="Man">
            </div>
            <div class="row">
                <div class="col-md-4 text-capitalize">
                    <hr class="bg-warning" style="height: 4px; width: 170px;">
                    <h3 class="text_effect">contact us</h3>

                </div>
                <div class="col-md-8 text-center text-justify">
                    <p>
                        We are a set of passionate people who love just one thing-Photography and this is the precise
                        reason why
                        our pictures and films come out so nice. So, if you want to preserve those priceless moments and
                        want
                        nothing but the best then drop in your enquiry below. If you do not like filling forms then you
                        can call
                        us any time 24×7. We are literally available round-the-clock! We offer a variety of attractive
                        packages
                        to fit every party’s budget.
                    </p>
                    <p>
                        We will not only help you with your requirements but also send our best artistic photographers
                        as per your
                        budget and style. And what if something happens? Don’t worry we have backups. We ensure that
                        everything
                        goes on smoothly so that you spend your time attending your guests and enjoying your day while
                        we keep it
                        for you for eternity.
                    </p>
                </div>

            </div>
            <hr>

        </div>
        {# map start from here......#}

        <section class="container-fluid bg-dark pb-5" style="border-radius: 40px">
            <div class="container">
                <h3 class="text-capitalize text-white text-center">our contact details</h3>
                <hr style="width:300px;background-color:white">
                <div class="row ">
                    <div class="col md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563.4530564063843!2d88.42862041504105!3d26.729914783206585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e441051ececb93%3A0xfa2ddb95e7c2dd9c!2sAnandaloke%20Multispecialty%20Hospital!5e0!3m2!1sen!2sin!4v1593014743885!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border-radius:20px; margin-top: 46px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                </div>

            </div>

        </section>
        <div class="col md-6 my-5 text-center text-capitalize">
            <hr>
            <h2 class="text_effect">Contact Info</h2>

            <address>
                <h6>second mile sevoke road,</h6>
                <h6>paresh nagar mini market,</h6>
                <h6>behind anandaloke hospital,siliguri</h6>
                <h6>dist:Jalpaiguri</h6>
                <h5>West Bengal</h5>
            </address>
        </div>


        <div class="row my-5">
            <div class="col-md-12 ">
                <h3 class="text_effect text-capitalize text-center">Contact Us</h3>
                <p class="text-capitalize text-center text-gray-dark">to capture your happiness!</p>
                <form method="post" style="background-color:whitesmoke; border-radius: 30px">
                    {% csrf_token %}
                    <div class="form-row text-capitalize text-center">
                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                   required>
                        </div>

                    </div>


                    <div class="form-row  text-capitalize text-center">
                        <div class="form-group col-md-6">
                            <label for="phone">Phone</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" name="city" placeholder="City"
                                   required>
                        </div>
                        <div class="row  text-capitalize text-center">
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlTextarea1">Message Us</label>
                                <textarea class="form-control mx-auto" id="exampleFormControlTextarea1" name="msg" rows="6"
                                          cols="130" required></textarea>
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputstate">State</label>
                            <input type="text" class="form-control" id="inputstate" name="state" placeholder="State"
                                   required>
                        </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block"style="border-radius: 50px">Submit</button>
                </form>

            </div>

            {# Contact us end here....#}
        </div>
        <hr>

    </div>

{% endblock content %}